<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudy</key>
	<dict>
		<key>icon</key>
		<string>cloudy.png</string>
		<key>person</key>
		<string>person_cloudy.png</string>
		<key>background</key>
		<string>background_cloudy.png</string>
		<key>mirror</key>
		<string>mirror_cloudy.png</string>
		<key>background_down</key>
		<string>background_cloudy_down.png</string>
	</dict>
	<key>nt_cloudy</key>
	<dict>
		<key>icon</key>
		<string>nt_cloudy.png</string>
		<key>person</key>
		<string>person_cloudy.png</string>
		<key>background</key>
		<string>nt_background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_cloudy.png</string>
		<key>background_down</key>
		<string>nt_background_cloudy_down.png</string>
	</dict>
	<key>rain</key>
	<dict>
		<key>icon</key>
		<string>rain.png</string>
		<key>person</key>
		<string>person_rain.png</string>
		<key>background</key>
		<string>background_rain.gif</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
		<key>background_down</key>
		<string>background_rain_down.png</string>
	</dict>
	<key>nt_rain</key>
	<dict>
		<key>icon</key>
		<string>nt_rain.png</string>
		<key>person</key>
		<string>nt_person_rain.png</string>
		<key>background</key>
		<string>nt_background_rain.gif</string>
		<key>mirror</key>
		<string>nt_mirror_rain.png</string>
		<key>background_down</key>
		<string>nt_background_rain_down.png</string>
	</dict>
	<key>chanceflurries</key>
	<dict>
		<key>icon</key>
		<string>chanceflurries.png</string>
		<key>person</key>
		<string>person_snow.png</string>
		<key>background</key>
		<string>background_snow.gif</string>
		<key>mirror</key>
		<string>mirror_snow.png</string>
		<key>background_down</key>
		<string>background_snow_down.png</string>
	</dict>
	<key>nt_chanceflurries</key>
	<dict>
		<key>icon</key>
		<string>nt_chanceflurries.png</string>
		<key>person</key>
		<string>nt_person_snow.png</string>
		<key>background</key>
		<string>nt_background_snow.gif</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>chancerain</key>
	<dict>
		<key>icon</key>
		<string>chancerain.png</string>
		<key>person</key>
		<string>person_rain.png</string>
		<key>background</key>
		<string>background_rain.gif</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
		<key>background_down</key>
		<string>background_rain_down.png</string>
	</dict>
	<key>nt_chancerain</key>
	<dict>
		<key>icon</key>
		<string>nt_chancerain.png</string>
		<key>person</key>
		<string>nt_person_rain.png</string>
		<key>background</key>
		<string>nt_background_rain.gif</string>
		<key>mirror</key>
		<string>nt_mirror_rain.png</string>
		<key>background_down</key>
		<string>nt_background_rain_down.png</string>
	</dict>
	<key>chancesleet</key>
	<dict>
		<key>icon</key>
		<string>chancesleet.png</string>
		<key>person</key>
		<string>person_rain.png</string>
		<key>background</key>
		<string>background_rain.gif</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
		<key>background_down</key>
		<string>background_rain_down.png</string>
	</dict>
	<key>nt_chancesleet</key>
	<dict>
		<key>icon</key>
		<string>nt_chancesleet.png</string>
		<key>person</key>
		<string>nt_person_rain.png</string>
		<key>background</key>
		<string>nt_background_rain.gif</string>
		<key>mirror</key>
		<string>nt_mirror_rain.png</string>
		<key>background_down</key>
		<string>nt_background_rain_down.png</string>
	</dict>
	<key>chancesnow</key>
	<dict>
		<key>icon</key>
		<string>chancesnow.png</string>
		<key>person</key>
		<string>person_snow.png</string>
		<key>background</key>
		<string>background_snow.gif</string>
		<key>mirror</key>
		<string>mirror_snow.png</string>
		<key>background_down</key>
		<string>background_snow_down.png</string>
	</dict>
	<key>nt_chancesnow</key>
	<dict>
		<key>icon</key>
		<string>nt_chancesnow.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.gif</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>chancetstorms</key>
	<dict>
		<key>icon</key>
		<string>chancetstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.gif</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
		<key>background_down</key>
		<string>background_tstorms_down.png</string>
	</dict>
	<key>nt_chancetstorms</key>
	<dict>
		<key>icon</key>
		<string>nt_chancetstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.gif</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
		<key>background_down</key>
		<string>background_tstorms_down.png</string>
	</dict>
	<key>clear</key>
	<dict>
		<key>icon</key>
		<string>sunny.png</string>
		<key>person</key>
		<string>person_sunny.png</string>
		<key>background</key>
		<string>background_sunny.gif</string>
		<key>mirror</key>
		<string>mirror_sunny.png</string>
		<key>background_down</key>
		<string>background_sunny_down.png</string>
	</dict>
	<key>nt_clear</key>
	<dict>
		<key>icon</key>
		<string>nt_clear.png</string>
		<key>person</key>
		<string>nt_person_sunny.png</string>
		<key>background</key>
		<string>nt_background_sunny.gif</string>
		<key>mirror</key>
		<string>nt_mirror_sunny.png</string>
		<key>background_down</key>
		<string>nt_background_sunny_down.png</string>
	</dict>
	<key>fog</key>
	<dict>
		<key>icon</key>
		<string>fog.png</string>
		<key>person</key>
		<string>person_fog.png</string>
		<key>background</key>
		<string>background_fog.gif</string>
		<key>mirror</key>
		<string>mirror_fog.png</string>
		<key>background_down</key>
		<string>background_fog_down.png</string>
	</dict>
	<key>nt_fog</key>
	<dict>
		<key>nt_fog</key>
		<string>nt_fog.png</string>
		<key>person</key>
		<string>person_fog.png</string>
		<key>background</key>
		<string>nt_background_fog.gif</string>
		<key>mirror</key>
		<string>mirror_fog.png</string>
		<key>background_down</key>
		<string>nt_background_fog_down.png</string>
	</dict>
	<key>hazy</key>
	<dict>
		<key>icon</key>
		<string>hazy.png</string>
		<key>person</key>
		<string>person_hazy.png</string>
		<key>background</key>
		<string>background_hazy.gif</string>
		<key>mirror</key>
		<string>mirror_hazy.png</string>
		<key>background_down</key>
		<string>background_hazy_down.png</string>
	</dict>
	<key>nt_hazy</key>
	<dict>
		<key>icon</key>
		<string>nt_hazy.png</string>
		<key>person</key>
		<string>person_hazy.png</string>
		<key>background</key>
		<string>nt_background_fog.gif</string>
		<key>mirror</key>
		<string>mirror_hazy.png</string>
		<key>background_down</key>
		<string>nt_background_fog_down.png</string>
	</dict>
	<key>mostlycloudy</key>
	<dict>
		<key>icon</key>
		<string>mostlycloudy.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>background_partlycloudy_down.png</string>
	</dict>
	<key>nt_mostlycloudy</key>
	<dict>
		<key>icon</key>
		<string>nt_mostlycloudy.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>nt_background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>nt_background_cloudy_down.png</string>
	</dict>
	<key>mostlysunny</key>
	<dict>
		<key>icon</key>
		<string>mostlysunny.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>background_partlycloudy_down.png</string>
	</dict>
	<key>nt_mostlysunny</key>
	<dict>
		<key>icon</key>
		<string>nt_mostlysunny.png</string>
		<key>person</key>
		<string>person_cloudy.png</string>
		<key>background</key>
		<string>nt_background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_cloudy.png</string>
		<key>background_down</key>
		<string>nt_background_cloudy_down.png</string>
	</dict>
	<key>partlycloudy</key>
	<dict>
		<key>icon</key>
		<string>partlycloudy.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>background_partlycloudy_down.png</string>
	</dict>
	<key>nt_partlycloudy</key>
	<dict>
		<key>icon</key>
		<string>nt_partlycloudy.png</string>
		<key>person</key>
		<string>person_cloudy.png</string>
		<key>background</key>
		<string>nt_background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_cloudy.png</string>
		<key>background_down</key>
		<string>nt_background_cloudy_down.png</string>
	</dict>
	<key>partlysunny</key>
	<dict>
		<key>icon</key>
		<string>mostlysunny.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>background_partlycloudy_down.png</string>
	</dict>
	<key>nt_partlysunny</key>
	<dict>
		<key>icon</key>
		<string>nt_partlysunny.png</string>
		<key>person</key>
		<string>person_cloudy.png</string>
		<key>background</key>
		<string>nt_background_partlycloudy.gif</string>
		<key>mirror</key>
		<string>mirror_cloudy.png</string>
		<key>background_down</key>
		<string>nt_background_cloudy_down.png</string>
	</dict>
	<key>sleet</key>
	<dict>
		<key>icon</key>
		<string>sleet.png</string>
		<key>person</key>
		<string>person_rain.png</string>
		<key>background</key>
		<string>background_rain.gif</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
		<key>background_down</key>
		<string>background_rain_down.png</string>
	</dict>
	<key>nt_sleet</key>
	<dict>
		<key>icon</key>
		<string>nt_sleet.png</string>
		<key>person</key>
		<string>nt_person_rain.png</string>
		<key>background</key>
		<string>nt_background_rain.gif</string>
		<key>mirror</key>
		<string>nt_mirror_rain.png</string>
		<key>background_down</key>
		<string>nt_background_rain_down.png</string>
	</dict>
	<key>snow</key>
	<dict>
		<key>icon</key>
		<string>snow.png</string>
		<key>person</key>
		<string>person_snow.png</string>
		<key>background</key>
		<string>background_snow.gif</string>
		<key>mirror</key>
		<string>mirror_snow.png</string>
		<key>background_down</key>
		<string>background_snow_down.png</string>
	</dict>
	<key>nt_snow</key>
	<dict>
		<key>icon</key>
		<string>nt_snow.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.gif</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>sunny</key>
	<dict>
		<key>icon</key>
		<string>sunny.png</string>
		<key>person</key>
		<string>person_sunny.png</string>
		<key>background</key>
		<string>background_sunny.gif</string>
		<key>mirror</key>
		<string>mirror_sunny</string>
		<key>background_down</key>
		<string>background_sunny_down.png</string>
	</dict>
	<key>nt_sunny</key>
	<dict>
		<key>icon</key>
		<string>nt_sunny.png</string>
		<key>person</key>
		<string>nt_person_sunny.png</string>
		<key>background</key>
		<string>nt_background_sunny.gif</string>
		<key>mirror</key>
		<string>nt_mirror_sunny.png</string>
		<key>background_down</key>
		<string>nt_background_sunny_down.png</string>
	</dict>
	<key>tstorms</key>
	<dict>
		<key>icon</key>
		<string>tstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.gif</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
		<key>background_down</key>
		<string>background_tstorms_down.png</string>
	</dict>
	<key>nt_tstorms</key>
	<dict>
		<key>icon</key>
		<string>nt_tstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.gif</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
		<key>background_down</key>
		<string>background_tstorms_down.png.png</string>
	</dict>
	<key>flurries</key>
	<dict>
		<key>icon</key>
		<string>flurries.png</string>
		<key>person</key>
		<string>person_snow.png</string>
		<key>background</key>
		<string>background_snow.gif</string>
		<key>mirror</key>
		<string>mirror_snow.png</string>
		<key>background_down</key>
		<string>background_snow_down.png</string>
	</dict>
	<key>nt_flurries</key>
	<dict>
		<key>icon</key>
		<string>nt_flurries.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.gif</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
</dict>
</plist>
