<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nt_cloudy</key>
	<dict>
		<key>icon</key>
		<string>nt_cloudy.png</string>
		<key>person</key>
		<string>person_mostlycloudy.png</string>
		<key>background</key>
		<string>background_mostlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_mostlycloudy.png</string>
		<key>background_down</key>
		<string>nt_background_mostlycloudy_down.png</string>
	</dict>
	<key>nt_rain</key>
	<dict>
		<key>icon</key>
		<string>nt_rain.png</string>
		<key>person</key>
		<string>nt_person_rain.png</string>
		<key>background</key>
		<string>nt_background_rain.png</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
		<key>background_down</key>
		<string>nt_background_rain_down.png</string>
	</dict>
	<key>nt_chanceflurries</key>
	<dict>
		<key>icon</key>
		<string>nt_chanceflurries.png</string>
		<key>person</key>
		<string>person_snow.png</string>
		<key>background</key>
		<string>background_snow.png</string>
		<key>mirror</key>
		<string>mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>nt_chancerain</key>
	<dict>
		<key>icon</key>
		<string>nt_chancerain.png</string>
		<key>person</key>
		<string>person_rain.png</string>
		<key>background</key>
		<string>background_rain.png</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
		<key>background_down</key>
		<string>nt_background_rain_down.png</string>
	</dict>
	<key>nt_chancesleet</key>
	<dict>
		<key>icon</key>
		<string>nt_chancesleet.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>nt_chancesnow</key>
	<dict>
		<key>icon</key>
		<string>nt_chancesnow.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>nt_chancetstorms</key>
	<dict>
		<key>icon</key>
		<string>nt_chancetstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.png</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
		<key>background_down</key>
		<string>background_tstorms_down.png.png</string>
	</dict>
	<key>nt_clear</key>
	<dict>
		<key>icon</key>
		<string>nt_clear.png</string>
		<key>person</key>
		<string>nt_person_sunny.png</string>
		<key>background</key>
		<string>nt_background_sunny.png</string>
		<key>mirror</key>
		<string>nt_mirror_sunny.png</string>
		<key>background_down</key>
		<string>nt_background_sunny_down.png</string>
	</dict>
	<key>nt_fog</key>
	<dict>
		<key>nt_fog</key>
		<string>nt_fog.png</string>
		<key>person</key>
		<string>person_fog.png</string>
		<key>background</key>
		<string>nt_background_fog.png</string>
		<key>mirror</key>
		<string>mirror_fog.png</string>
		<key>background_down</key>
		<string>background_fog_down.png</string>
	</dict>
	<key>nt_hazy</key>
	<dict>
		<key>icon</key>
		<string>nt_hazy.png</string>
		<key>person</key>
		<string>person_hazy.png</string>
		<key>background</key>
		<string>nt_background_fog.png</string>
		<key>mirror</key>
		<string>mirror_hazy.png</string>
		<key>background_down</key>
		<string>background_hazy_down.png.png</string>
	</dict>
	<key>nt_mostlycloudy</key>
	<dict>
		<key>icon</key>
		<string>nt_mostlycloudy.png</string>
		<key>person</key>
		<string>person_mostlycloudy.png</string>
		<key>background</key>
		<string>background_mostlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_mostlycloudy.png</string>
		<key>background_down</key>
		<string>nt_background_mostlycloudy_down.png</string>
	</dict>
	<key>nt_mostlysunny</key>
	<dict>
		<key>icon</key>
		<string>nt_mostlysunny.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>background_partlycloudy_down.png.png</string>
	</dict>
	<key>nt_partlycloudy</key>
	<dict>
		<key>icon</key>
		<string>nt_partlycloudy.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>background_partlycloudy_down.png.png</string>
	</dict>
	<key>nt_partlysunny</key>
	<dict>
		<key>icon</key>
		<string>nt_partlysunny.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
		<key>background_down</key>
		<string>background_partlycloudy_down.png.png</string>
	</dict>
	<key>nt_sleet</key>
	<dict>
		<key>icon</key>
		<string>nt_sleet.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>nt_snow</key>
	<dict>
		<key>icon</key>
		<string>nt_snow.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
	<key>nt_sunny</key>
	<dict>
		<key>icon</key>
		<string>nt_sunny.png</string>
		<key>person</key>
		<string>nt_person_sunny.png</string>
		<key>background</key>
		<string>nt_background_sunny.png</string>
		<key>mirror</key>
		<string>nt_mirror_sunny.png</string>
		<key>background_down</key>
		<string>nt_background_sunny_down.png</string>
	</dict>
	<key>nt_tstorms</key>
	<dict>
		<key>icon</key>
		<string>nt_tstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.png</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
		<key>background_down</key>
		<string>background_tstorms_down.png.png</string>
	</dict>
	<key>nt_flurries</key>
	<dict>
		<key>icon</key>
		<string>nt_flurries.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
		<key>background_down</key>
		<string>nt_background_snow_down.png</string>
	</dict>
</dict>
</plist>
